* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  height: 99%;
}

body {
  min-height:100%;
  position: relative;
  padding-bottom: 10em;
}

.title {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 1rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid #e8e8e8;
}

.title__logo {
  height: 7rem;
  margin: 1rem;
}

.title__text {
  margin-left: 2rem;
}

.title__text--name {
  font-size: 3.6rem;
  display: inline;
  font-weight: 600;
}

.title__text--description {
  font-size: 1.6rem;
  font-weight: 200;
}

.description {
}

.description__text {
  font-size: 1.3rem;
  font-weight: 350;
  margin: 2rem;
}

.description__formula {
  height: 3.5rem;
  margin-top: 0rem;
  margin-left: 10rem;
}

.inline-latex {
  /*height: 10px;*/
}

.spreadsheet {
  margin: 1rem 0.5rem;
}

table,
td,
th,
tr {
  border: 0.05rem solid rgba(197, 197, 197, 0.486);
  font-size: 1.4rem;
  height: 2.5rem;
  border-spacing: 0rem;
  transition: .2s ease;
  text-align: center;
}
tr :hover {
  background-color: #f1f1f1;
}

th {
  font-weight: 500;
}

thead {
  /* background-color: rgb(160, 180, 206); */
  background-color: #f1f1f1;
  /* color: #fff; */
}

td {
  min-width: 10rem;
  padding: 0.2rem 0.5rem;
}

th {
  padding: 0.2rem 0.4rem;
}
th > .dropdown {
  float: right;
}

tbody th {
  min-width: 5rem;
  background: #fafafa;
}

select {
  border: 0rem;
  font-size: 1.2rem;
}

/* Dropdown Button */
.dropbtn {
  background-color: #e2e2e2d0;
  color: rgba(0, 0, 0, 0.5);
  padding: 0rem 0.3rem;
  /* /* font-size: 1.2rem; */
  border: none;
  cursor: pointer;
  transition: ease 0.4s;
}

/* Dropdown button on hover & focus */
.dropbtn:hover,
.dropbtn:focus {
  background-color: #d0d0d0;
  /* visibility: visible; */
}

.dropbtn img {
  height: 2rem;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 16rem;
  box-shadow: 0 0.5rem 0.8rem 0 rgba(0, 0, 0, 0.1);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content p {
  color: rgb(133, 132, 132);
  padding: 0.4rem;
  font-weight: 400;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content p:hover {
  background-color: #ddd;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
  display: block;
}

.column-header-span {
  cursor: pointer;
}

.spreadsheet-controls {
  margin-left: 0.5rem;
}

.reset-btn {
  padding: 0.5rem 1.5rem;
  background-color: #d9534f;
  color: #fff;
  border-color: #d43f3a;
  border-width: 1px;
  border-style: solid;
  border-radius: 0.3rem;
  cursor: pointer;
  transition: ease 0.3s;
}

.reset-btn:hover {
  color: #fff;
  background-color: #c9302c;
  border-color: #ac2925;
}

.delete-row-btn {
  padding: 0.5rem 1.5rem;
  background-color: #d9534f;
  color: #fff;
  border-color: #d43f3a;
  border-width: 1px;
  border-style: solid;
  border-radius: 0.3rem;
  cursor: pointer;
  transition: ease 0.3s;
}

.delete-row-btn:hover {
  color: #fff;
  background-color: #c9302c;
  border-color: #ac2925;
}

.add-row-btn {
  padding: 0.5rem 1.5rem;
  background-color: #73c62a;
  color: #fff;
  border-color: #69b427;
  border-width: 1px;
  border-style: solid;
  border-radius: 0.3rem;
  cursor: pointer;
  transition: ease 0.3s;
}

.add-row-btn:hover {
  color: #fff;
  background-color: #5fa324;
  border-color: #518b1e;
}

.load-template-btn {
  padding: 0.5rem 1.5rem;
  background-color: #73c62a;
  color: #fff;
  border-color: #69b427;
  border-width: 1px;
  border-style: solid;
  border-radius: 0.3rem;
  cursor: pointer;
  transition: ease 0.3s;
}

.load-template-btn:hover {
  color: #fff;
  background-color: #5fa324;
  border-color: #518b1e;
}

.footer {
  margin: 1rem;
  padding-top: 2rem;
  padding-bottom: 1rem;
  border-top: 1px solid #e8e8e8;
  color: #828282;
  position: absolute;
  bottom: 0;
  height: 5em;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 90%;
  font-size: 1rem;
  font-weight: 200;
}

.footer-name {
  padding-left: 2rem;
}

.footer-link {
  font-weight: 350;
  float: right;
  padding-left: 4rem;
}

a {
  color: #2a7ae2;
  text-decoration: none;
}

a:visited {
  color: #1756a9;
}

a:hover {
  color: #111; text-decoration: underline;
}

.svg-icon {
  width: 16px;
  height: 16px;
  display: inline-block;
  fill: #828282;
  padding-right: 5px;
  vertical-align: text-top;
}

.input-header {
  background-color: #f1f1f1;
}

.output-header {
  background-color: #f1f1f1;
}

.input-cell {
  border-color: #73c62a;
  border-width: 2px;
  border-radius: 2px;
}

.output-cell {
  border-color: #f88787;
  border-width: 2px;
  border-radius: 2px;
  background-color: #f5f5f5;
}

.input-table {
  /*margin-bottom: 20px;*/
  margin-left: 50px;
}
